.header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-color: #222222;
    color: #F2F2F2;
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;

    .header__text__h1 {
        margin: 0;
        font-size: 4rem;
    }

    .header__text__description {
        font-size: 2rem;
        font-weight: bold;
    }

    img {
        border-radius: 50%;
    }
}

